<h4> Create a new place by google geocoder </h4>
<%= form_tag( home_newplace_by_geocoder_path,  :method => :get) do |f| %>

    <% if !@geo_search.nil?  %>
        <%= search_field_tag("search", "#{@geo_search}", :class=>"input-xxlarge search-query")  %>
    <% else %>
        <%= search_field_tag("search", "a place...", :class=>"input-xxlarge search-query") %>
    <% end  %>
    <%= submit_tag("search", :class=>"btn btn-inverse") %>
<% end %>


<div class="container-fluid">
    <% if !@geo_results.nil? %>
      <table class="table table-striped">
      <tbody>
      <% @geo_results.each do |r| %>
       <tr>
         <% x = Place.where("unified_address =?", r.address).first %>
         <td>
           <h5> <%= r.address %></h5>
           <p> <%= "Latitude: " + r.coordinates[0].to_s %> </p>
           <p> <%= "Longitude:" + r.coordinates[1].to_s  %> </p>
         </td>
         <td>
           <% r.data["address_components"].each do |ac| %>
               <p>
                    <%= ac.each do |k, v| %>
                        <p> <%=  "#{k} = #{v}" %></p>
                    <% end  %>
                </p>
               <hr>
           <% end %>
         </td>
         <td>
           <% r.data["types"].each do |t| %>
             <p> <%= t %></p>
           <% end %>
         </td>
         <td>
	       <%= gmap_static_image_tag(r.coordinates[0], r.coordinates[1], r.data["types"]) %>
           <% if x.nil? %>
               <%= form_tag( new_place_path,  :method => :get) do |f1| %>
                   <%= hidden_field_tag "unified_address", r.address %>
                   <%= hidden_field_tag "latitude", r.coordinates[0].to_s %>
                   <%= hidden_field_tag "longitude", r.coordinates[1].to_s %>
                   <%= submit_tag "Create the place in macropolo map...", :class=>"btn-link" %>
               <% end %>
           <% end %>
         </td>
       </tr>
      <% end %>
      </tbody>
      </table>
    <% end  %>
</div>
