<h1>Editing place</h1>

<%= form_for(@place) do |f| %>
    <% if @place.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

          <ul>
            <% @place.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="content">
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </p>
      <p>
        <%= f.label :unified_address %>
        <%= f.text_field :unified_address %>
      </p>
      <p>
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </p>
      <p>
        <%= f.label :longitude %>
        <%= f.text_field :longitude %>
      </p>
      <p><%= f.submit %></p>
    </div>
<% end %>

<h3>Nearby places</h3>
<ul>
  <% for place in @place.nearbys(100) %>
      <li><%= link_to place.address, place %> (<%= place.distance.round(2) %> miles)</li>
  <% end %>
</ul>

<p>
  <%= link_to "Edit", edit_place_path(@place) %> |
  <%= link_to "Destroy", @place, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", places_path %>
</p>


<%= link_to 'Show', @place %> |
<%= link_to 'Back', places_path %>
