<h3>Listing places</h3>

<table class="table table-stripped table-hover">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Unified Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= place.address %></td>
    <td><%= place.unified_address %></td>
    <td><%= place.latitude %></td>
    <td><%= place.longitude %></td>

    <td><%= link_to 'Show', place %>
        <%= link_to 'Edit', edit_place_path(place) %>
        <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_place_path %>
